* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(36, 36, 36);
    position: relative;
    
}
header{
    width: 98vw;
    height: 6rem;
    background-color: rgb(0, 0, 0);
    border-radius: 10px 10px 6px 6px;
    margin: 10px;
    border-bottom: solid rgb(0, 15, 128) 3px;
    /* box-shadow: rgba(0, 0, 0, 0.103) 10px 10px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: -1px;
    z-index: 1;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.link-header{
    text-decoration: none;
    color: grey;
    font-size: 1.2rem;
    font-weight: 500;
}
.link-header:hover{
    color: rgb(190, 188, 188);
}
.above-section{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    height: 70%;
    flex-wrap: wrap;
}
.puzzle{
    width: 4rem;
    height: 4rem;
    background-color: grey;
    margin: 3px;
    border-radius: 9px;
    
}

.middle-section{
    width: 270px;
    height: 270px;
background-color: rgb(0, 255, 13);
position: absolute;
top: 11.3rem;
left: 40.8%;
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;

}

.puzzle1{
    width: 4rem;
    height: 4rem;
    border-radius: 9px;
    opacity: 0; 
}
.puzzle1:hover{
   opacity: 100;
}
.second-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    height: 30rem;
    width: 87rem;
    background-color: rgb(0, 0, 0);
    margin: 34px;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: space-around;
    
}
.card img {
    height: 30rem;
    width: 50rem;
    border-radius: 12px;
    position: absolute;
    left: 0px;
}
.p-title{
    color: white;
    position: absolute;
    right: 130px;
    top: 30px;
    font-size: 2rem;
}
.click{
    font-size: 5rem;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 190px;
    
}
.detail{
    color: white;
    position: absolute;
    right: 220px;
    top: 200px;
}
table{
    border: rgb(0, 0, 0) solid 30px;
    color: rgb(255, 255, 255);
    width: 87rem;
}
td{
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
.a{
    background-color: rgb(11, 232, 11);
}
.b{
    background-color: rgb(194, 194, 0);
}
.c{
    background-color: rgb(200, 85, 85);
}
tr:hover{
    background-color: aqua;
}
th{
    font-size: 3rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 15, 128);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.home a{
    text-decoration: none;
    color: white;
    
}
.above-section:hover{
    cursor: progress;
}






















.footer {
    height: 3rem;
    width: 99vw;
    background-color: rgb(113, 113, 113);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.footer-links{
    text-decoration: none;
    font-weight: 600;
    color: rgb(172, 172, 172);
    font-size: 1.5rem;
}
.footer-links:hover{
    color: white;
}